global
   maxconn 100
   log 127.0.0.1 local2

defaults
   log global
   mode tcp
   retries 2
   timeout client 30m
   timeout connect 4s
   timeout server 30m
   timeout check 5s

listen stats
   mode http
   bind *:7000
   stats enable
   stats uri /

listen production
   bind *:5000
   balance roundrobin
   option httpchk GET/master
   http-check expect status 200
   default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
   server tarasov-test-otus-proj-cluster-1-node-1.ru-central1.internal 10.92.36.9:5432 maxconn 100 check port 8008 
   server tarasov-test-otus-proj-cluster-1-node-2.ru-central1.internal 10.92.36.64:5432 maxconn 100 check port 8008
   server tarasov-test-otus-proj-cluster-1-node-3.ru-central1.internal 10.92.36.81:5432 maxconn 100 check port 8008
         # STANBY ZONE
   server tarasov-test-otus-proj-cluster-2-node-1.ru-central1.internal 10.92.35.60:5432 maxconn 100 check port 8008
   server tarasov-test-otus-proj-cluster-2-node-2.ru-central1.internal 10.92.35.117:5432 maxconn 100 check port 8008 
   server tarasov-test-otus-proj-cluster-2-node-3.ru-central1.internal 10.92.35.12:5432 maxconn 100 check port 8008 

listen standby
   bind *:5001
   option httpchk GET/replica
   http-check expect status 200
   default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
   server tarasov-test-otus-proj-cluster-1-node-1.ru-central1.internal 10.92.36.9:5432 maxconn 100 check port 8008 
   server tarasov-test-otus-proj-cluster-1-node-2.ru-central1.internal 10.92.36.64:5432 maxconn 100 check port 8008
   server tarasov-test-otus-proj-cluster-1-node-3.ru-central1.internal 10.92.36.81:5432 maxconn 100 check port 8008
         # STANBY ZONE
   server tarasov-test-otus-proj-cluster-2-node-1.ru-central1.internal 10.92.35.60:5432 maxconn 100 check port 8008
   server tarasov-test-otus-proj-cluster-2-node-2.ru-central1.internal 10.92.35.117:5432 maxconn 100 check port 8008 
   server tarasov-test-otus-proj-cluster-2-node-3.ru-central1.internal 10.92.35.12:5432 maxconn 100 check port 8008 

listen standby-production
   bind *:5000
   option httpchk GET/master
   http-check expect status 200
   default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
   server tarasov-test-otus-proj-cluster-1-node-1.ru-central1.internal 10.92.36.9:5432 maxconn 100 check port 8008 
   server tarasov-test-otus-proj-cluster-1-node-2.ru-central1.internal 10.92.36.64:5432 maxconn 100 check port 8008
   server tarasov-test-otus-proj-cluster-1-node-3.ru-central1.internal 10.92.36.81:5432 maxconn 100 check port 8008

listen standby-leader
   bind *:5000
   option httpchk GET/standby-leader
   http-check expect status 200
   default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
   server tarasov-test-otus-proj-cluster-2-node-1.ru-central1.internal 10.92.35.60:5432 maxconn 100 check port 8008
   server tarasov-test-otus-proj-cluster-2-node-2.ru-central1.internal 10.92.35.117:5432 maxconn 100 check port 8008 
   server tarasov-test-otus-proj-cluster-2-node-3.ru-central1.internal 10.92.35.12:5432 maxconn 100 check port 8008 
